<!-- views/profile/albums.ejs -->
<!doctype html>
<html>
<head>
	<title>Flicks</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Flicks</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
					<li><a href="/upload">Upload</a></li>
					<li><a href="/friends">Friends</a></li>
					<li class="active"><a href="/profile/photos">Profile</a></li>
					<li><a href="/logout">Logout</a></li>
	      </ul>
				<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= user.email %></a></p>
	    </div>
		</div>
	</nav>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/profile/photos">Photostream</a></li>
					<li class="active"><a href="/profile/albums">Albums</a></li>
					<li><a href="/profile/tags">Tags</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Albums -->
	<% if (typeof albums != 'undefined' && albums.length > 0) { %>
			<% for(var i = 0; i < albums.length; i++) { %>
				<ul>
					<li><%= albums[i].name %></li>
					<form action="/deleteAlbum" method="post">
						<input type="hidden" name="album_id" value="<%= albums[i].id %>">
						<input type="submit" value="Delete">
					</form>
				</ul>
			<% } %>
	<% } %>

</div>
</body>
</html>
