<!-- views/friends.ejs -->
<!doctype html>
<html>
<head>
	<title>Flicks</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Flicks</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
					<li><a href="/upload">Upload</a></li>
					<li class="active"><a href="/friends">Friends</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/logout">Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="row">
		<h3>People you follow</h3>
		<% if (typeof friends != 'undefined') { %>
			<ul>
				<% for(var i = 0; i < friends.length; i++) { %>
					<li>
							<%= friends[i].email %>
					</li>
				<% } %>
			</ul>
		<% } %>
	</div>

	<div class="row">
		<h3>Add Friend: </h3>
		<form action="/findUsers" method="post" class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" name="user">
			</div>
			<input type="submit" class="btn btn-primary" value="Search">
		</form>
	</div>

	<div class="row">
		<% if (typeof users != 'undefined') { %>
			<ul>
				<% for(var i = 0; i < users.length; i++) { %>
					<li>
						<form action="/addFriend" method="post" class="form-inline">
							<%= users[i].email %>
							<input type="hidden" name="friend" value="<%= users[i].email %>">
							<input type="submit" name="add" value="Add" class="btn btn-primary btn-xs">
						</form>
					</li>
				<% } %>
			</ul>
		<% } %>
	</div>



</div>
</body>
</html>
