<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Flicks</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Flicks</h1>

            <a href="/login" class="btn btn-primary">Login</a>
            <a href="/signup" class="btn btn-default">Signup</a>
        </div>

				
    </div>
</body>
</html>
