<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Flicks</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Flicks</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/profile">Profile</a></li>
					<li><a href="/logout">Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<!-- <div class="page-header text-center">
		<h1>Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<div class="col-sm-12">
			<h3>Upload a new picture</h3>
			<form action="/upload" method="post" class="form-inline">
				<div class="form-group">
					<input type="file" class="form-control-static" name="pic" accept="image/*">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default" name="upload" value="Upload">
				</div>
			</form>
		</div>

	</div> -->

</div>
</body>
</html>
