<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Flicks</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Flicks</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
					<li><a href="/upload">Upload</a></li>
					<li><a href="/friends">Friends</a></li>
					<li class="active"><a href="/profile">Profile</a></li>
					<li><a href="/logout">Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="row">
		<p>Welcome Back! <%= user.email %></p>

	</div>

</div>
</body>
</html>
