<!-- views/upload.ejs -->
<!doctype html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
<div class="container">

  <header>
    <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">Flicks</a>
       </div>
       <div>
         <ul class="nav navbar-nav">
           <li class="active"><a href="/upload">Upload</a></li>
           <li><a href="/friends">Friends</a></li>
           <li><a href="/profile/photos">Profile</a></li>
           <li><a href="/logout">Logout</a></li>
         </ul>
       </div>
     </div>
   </nav>
  </header>


  <div class="row">
    <div class="col-md-6">
      <!-- Upload a picture -->
      <form action="/upload" method="post" id="upload" enctype="multipart/form-data">
        <!-- Add to album -->
        <% if (typeof albums != 'undefined' && albums.length > 0) { %>
        <label>Add to album</label>
        <div class="form-group">
          <select name="album" form="upload" class="form-control" required>
            <% for(var i = 0; i < albums.length; i++) { %>
            <option value="<%= albums[i].id %>">
              <%= albums[i].name %>
            </option>
            <% } %>
          </select>
        </div>
        <% } else { %>
        <div>Oops, you haven't created any album yet.</div>
        <% } %>

        <!-- Add tags -->
        <div class="form-group">
          <label>Add tags</label>
          <input type="text" name="tags" class="form-control" placeholder="Separate tags with a space">
        </div>

        <!-- Upload Image -->
        <div class="form-group">
            <input type="file" name="uploadFile" accept="image/*" required>
        </div>

        <input type="submit" class="btn btn-primary" value="Upload">
      </form>
    </div>

    <div class="col-md-6">
      <!-- Create an album -->
      <form action="/createAlbum" method="post">
        <label>Create an album</label>
        <div class="form-group">
          <input type="text" name="album" class="form-control" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Create album">
      </form>

      <br>

      <!-- Tag recommendation -->
      <form action="/recommendTags" method="post">
        <label>Tag recommendation</label>
        <div class="form-group">
          <input type="text" name="tags" class="form-control" placeholder="Separate tags with a space" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Recommend">
      </form>

      <br>

      <!-- Tags recommended -->
      <% if (typeof recommendTags != 'undefined' && recommendTags.length > 0) { %>
        <label>Recommended Tags: </label>
        <% for(var i = 0; i < recommendTags.length; i++) { %>
          <button type="button" name="recommendTag" class="btn btn-info btn-xs"><%= recommendTags[i].name %></button>
        <% } %>
      <% } %>
    </div>

  </div>

</div>
</body>
</html>
