<!-- views/index/photos.ejs -->
<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
  <div class="container">

		<header>
			<% include ../partials/index-header %>

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Photostream</a></li>
							<li><a href="/albums">Albums</a></li>
							<li><a href="/tags">Tags</a></li>
							<li><a href="/activity">Activity</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

			<% if (typeof photos != 'undefined' && photos.length > 0) { %>
					<% for(var i = 0; i < photos.length; i++) { %>
						<div class="image-container">
							<div class="image-wrapper">
								<a href="/photo?id=<%= photos[i].id %>">
									<img src="<%= photos[i].path %>" />
								</a>
							</div>
						</div>
					<% } %>
			<% } %>


  </div>
</body>
</html>
