<!-- views/index/photos.ejs -->
<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
  <div class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Flicks</a>
				</div>
				<div>
					<% if (typeof user == 'undefined') { %>
						<ul class="nav navbar-nav">
							<li><a href="/login">Login</a></li>
							<li><a href="/signup">Signup</a></li>
						</ul>
					<% } else { %>
						<ul class="nav navbar-nav">
							<li><a href="/upload">Upload</a></li>
							<li><a href="/friends">Friends</a></li>
							<li><a href="/profile/photos">Profile</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
						<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= user.email %></a></p>
					<% }%>
				</div>
			</div>
		</nav>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Photostream</a></li>
            <li><a href="/albums">Albums</a></li>
		  <li><a href="/tags">Tags</a></li>
		  <li><a href="/activity">Activity</a></li>
          </ul>
        </div>
      </div>
    </nav>

			<% if (typeof photos != 'undefined' && photos.length > 0) { %>
					<% for(var i = 0; i < photos.length; i++) { %>
						<div class="image-container">
							<div class="image-wrapper">
								<a href="/photo?id=<%= photos[i].id %>">
									<img src="<%= photos[i].path %>" />
								</a>
							</div>
						</div>
					<% } %>
			<% } %>


  </div>
</body>
</html>
