/* IMAGE */

.image-large img {
  max-width: 100%;
}

.image-container {
  height: 260px;
  width: 300px;
  display: inline-block;
  margin: 5px;
}

.image-wrapper {
  height: 180px;
  width: 300px;
  overflow: hidden;
}

.image-wrapper img {
  max-width: 100%;
}

.image-meta {

}

/* PHOTO PAGE */

.photo-date {
  float: right;
}

.photo-num-likes, .photo-liked-user {
  display: inline;
}

.comment-meta {
  display: inline;
}

.comment-author, .comment-date {
  display: inline-block;
}

.comment-author {
  font-weight: bold;
}

.comment-date {
  float: right;
}

.comment-text {
  margin: 20px;
}

/* UPLOAD PAGE */


/* PROFILE TAGS */

.form-show-tagged-photos {
  display: inline;
}

/* ALBUM PAGE */

.album-name, .album-delete {
  display: inline;
}
