.image-container {
  height: 220px;
  width: 300px;
  display: inline-block;
  margin: 5px;
}

.image-wrapper {
  height: 200px;
  width: 300px;
  overflow: hidden;
}

.image-wrapper img {
  display: block;
  max-width: 300px;
}

.image-meta {

}
