.image-large {

}

.image-large img {
  max-width: 100%;
}

.image-container {
  height: 260px;
  width: 300px;
  display: inline-block;
  margin: 5px;
}

.image-wrapper {
  height: 180px;
  width: 300px;
  overflow: hidden;
}

.image-wrapper img {
  max-width: 100%;
}

.image-meta {

}

.form-add-tags .form-control {
	max-width: 240px;
	display: inline;
}

.form-show-tagged-photos {
  display: inline;
}
